*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --font-small: 12px;
  --font-normal: 14px;
  --font-big: 16px;
  --font-huge: 20px;
  --color-background: #000;
  --color-text: #fff;
}

body{
  background: var(--color-background);
}

p{
  
  color: #fff;
}
.navbar{
  width: 100%;
  height: 10vh;
  background-color: var(--color-background);
  display: flex;
  justify-content: center;
  align-items: start;
  padding: 0 20px;
  
}

.link{
  color: var(--color-text);
  text-decoration: none;
  font-size: var(--font-small);
  margin: 10px;
  text-decoration: none;
}

.home-container{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.movies-container{
  width: 100%;
  height: 40vh;
  display: flex;
}

.movies-container img{
  height: 100%;
  margin: 5px;
}

.movies-container img:hover{
  height: 110%;
  margin: -5px;

}

.description-container{
  width: 100%;
  height: 50vh;
}

.poster{
  margin: 0 10px 0 10px;
}

.title-date{
  height: ;
}